.shapes{
width:300px;
height:300px;
margin: 70px auto;
text-align: center;
text-shadow: ;

box-shadow: 30px 20px 20px green;
}
#circle{
border-radius: 50%;

box-shadow: 2px 2px 30px 10px;
}
#rectangle{
width: 500px;

box-shadow: -50px 10px 20px blue;
}

#bordershape{
border-radius: 30px 150px 30px 150px;

box-shadow: 10px -50px 20px grey;
}